@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro M3",sans-serif;
    background-color: #f5f3e9;
    color: #333;
    line-height: 1.4;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/*ヘッダーまだ未完成*/
.fix-heading-area {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.list_sns {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    margin-right: 100px;
}

.wrapper {
    max-width: 1440px;
}

.list_sns li {
    margin-left: 60px;
    margin-top: 20px;
}

/*アイコンサイズ*/

.fa-instagram,
.fa-tiktok {
    font-size: 2.0rem;
}


/*ロゴ*/

h1 {
    margin: 0 30px;
    position: absolute;
    top: 10px;
    left: 15px;
}



.heading-logo {
    font-size: 16px;
}

.sp {
    font-size: 16px;
}

.global-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.square {
	width: 150px;
	height: 165px;
	background: #fff;
    position: relative;
}


/*メニュー*/

.nav_area {
    margin-left: 90px;
    margin-right: 10px;
    font-size: 18px;
}

.nav_area li {
    padding-top: 30px;
    text-align: center;

}

.nav_area a {
    color: #333;

}

.nav_area a:hover{
    color: #0090aa;
}

.list2 {
    margin: 16px ;
    padding-left: 30px;
}

/*top画像*/

.fv-slider-area {
    text-align: center;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 573px;
}

.top_message {
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 64px;
    top:27%;
    left:33%;
    font-family: "Rounded Mplus 1c";
}



/*見出し*/

.head_home {
    text-align: center;
    margin-bottom: 72px;
}

.head_home h2 {
    margin-top: 150px;
    font-size: 34px;
    font-weight: bold;

}

.head_home h3 {
    text-align: center;
    font-size: 30px;
}

.eg {
    font-size: 24px;
}



.decoration {
    font-size: 24px;
    color: #dcb769;
    
}


/*アイディールとは*/

.box {
    margin-top: 62px;
    display: flex;
    max-width: 1140px;
    margin: auto;
    
}

.ttl2 {
    width: 550px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 60px;
    display: inline-block;
    font-size: 26px;
    padding-bottom: 20px;
    font-weight: bold;
}

.text_home {
    width: 538px;
    margin-right: 40px;
    text-align: left;
    line-height: 1.6;
    width: 100%;
    font-size: 17px;
}

.description {
    padding-left: 60px;
}

.box_img {
    margin-left: 20px;
    margin: auto;
}

.box_img,
.box_img2,
.box_img3 {
    width: 100%;
    height: 100%;
}

/* 特徴*/

.area_home_feature {
    display: flex;
    justify-content: center;
    margin-top: 98px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

span {
    color:#dcb769;
    font-size: 24px;
}

.body_home {
    line-height: 1.5;
    margin-top: 20px;
}

.sub_head_home {
    margin-right:60px;
    margin-left: 120px;
}

/* 企業理念 */

.area_home_philosophy {
    margin-top: 90px;
}

.head_philosophy {
    margin-top: 54px;
    text-align: center;
}

.head_philosophy h3 {
    font-size: 30px;
}


.eg2 {
    font-size: 18px;
}

.decoration2 {
    font-size: 16px;
    color: #dcb769;
}

.ttl3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-top: 20px;
}

.description2 {
    padding-left: 80px;
    font-size: 17px;
    width: 645px;
    line-height: 1.7;
}

.box2 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    max-width: 1238px;
    height: 630px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}

.box_img2 {
    margin-top: 120px;
 
}

/*子供の笑顔が*/

.area_home_thought {
    margin-top: 104px;
}

.box_img3 {
    text-align: center;
}

.body_thought {
    display: flex;
    justify-content: center;
}

.head_thought h3 {
    padding:0 20px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    line-height: 2.3;
    display: inline-block;
    margin-top: 40px;
    position: relative;

}

.head_thought h3::before {
    content:"";
    display:inline-block;
    width:3px;
    height:60px;
    background-color:#ab8a4c;
    position:absolute;
    top:-2px;
    left:-5px;
}


.head_thought h3::after {
    
    content:"";
    display:inline-block;
    width:3px;
    height:60px;
    background-color:#ab8a4c;
    position:absolute;
    top:160px;
    right:-5px;
 }


.text_thought {
    display: inline-block;
    margin-top: 40px;
    margin-left: 60px;
    width: 500px;
    font-size: 17px;
    line-height: 1.7;
}

/*会社概要*/


.area_home_profile {
    margin-top: 90px;
    align-items: center;
}

.head_profile {
    display: inline-block;
    align-items: center;
}

.head_profile2 {
    text-align: center;
    align-items: center;
    width: 48%;
}

.head_profile h3 {
    margin-top: 100px;
    font-size: 30px;
    
}


.eg2 {
    font-size: 18px;
}

.decoration2 {
    font-size: 16px;
    color: #dcb769;
}

.ttl4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;

}

.box3 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    height: 630px;
    margin: 0 auto;
    background-color: #fff;
    margin:0 -200%;
    padding:0 200%;
}

/*背景の端固定*/

.body_inside {
    overflow-x: hidden;
}


.profile_list {
    font-size: 18px;
    width: 460px;
    padding-top: 20px;
    line-height: 2.0;
}

.profile_list dl {
    display: flex;

}

.profile_list dt {
    padding-right: 30px;
}


.img3 {
    display: block;
    margin-top: 80px;
    width:36%;
}

/*フッター*/

footer {
    background-color: #ab8a4c;
}

.footer_main {
    margin-left: 200px;
    padding-top: 20px;
}

.footer_list {
    display: flex;
    justify-content: flex-start;
}

.footer_logo {
    margin-top: 30px;
}

.footer_logo p {
    font-size: 18px;
    color: #fff;
}
.footer_insta,
.footer_tik {
    margin-top:60px;
    margin-right: 30px;
    margin-left: 30px;
}

.footer_insta {
    margin-left: 90px;
}

.footer_nav_area {
    display: flex;
    font-size: 18px;
    margin-left: 150px;
    margin-top: 10px;
}

.footer_nav_area a {
    color: #fff;
}

.footer_nav_area a:hover {
    color: #0090aa;
}

.copylight {
    color: #fff;
    text-align: center;
    align-items: flex-end;
    letter-spacing: 0.12em;
    padding-top: 100px;
}


/* モバイル */
